body {
    background-color: purple;
    /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGukWSsm4C6_J1qeTvlaINrNqdd-QPNPpOBFkBmRC7aKuuvUm8yg"); */
    background-repeat: no-repeat;
    background-size: cover;
    
}


.text-box {
    border-color: black;
}

.main-content {
    opacity: .9;
}