body {
    background-color: purple;
    background: url("../images/end-game1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

.navigation {
    background: url("../images/cosmic_dream.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.text-box {
    border-color: black;
}

.test {
    opacity: .8;
    padding: 0px;
    margin-top: 40px;
    border-radius: 25px;
    background-color: grey;
    color: black;
}

.main-info {
    margin: 10px;
}

