body {
    color: grey;
    /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFpf9pfX_T4H4PBDQ-vx0N6ZDr0rlETC8EVX7GMXTbeC7DflJOIA");
    background-repeat: no-repeat;
    background-size: cover; */
    
}


.text-box {
    border-color: black;
}